button {
    border: none;
    text-decoration: none;
    background-color: $backgroundColor1;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: $font1;
    border: 2px solid black;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}