nav {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: $backgroundColor3;
    @include center;
    justify-content: space-between;

    .nav-part-left {
        display: flex;
        height: 100%;
        font-family: $font1;
        font-weight: bold;

        &:hover li:not(:hover) {
            background-color: $backgroundColor3;
            color: $colorText1;
        }

        li {
            @include center;

            width: 150px;
            background-color: $backgroundColor3;
            text-transform: uppercase;
            font-size: x-small;

            &:hover {
                background-color: $backgroundColor1;
                color: $colorText2;
            }

            &:nth-child(1) {
                background-color: $backgroundColor1;
                color: $colorText2;
            }
        }
    }

    .nav-part-right {
        display: flex;
        gap: 20px;
        margin-right: 20px;

        i:hover {
            transform: scale(1.5);
        }
    }

    @media screen and (max-width: $mobileMediaWhidth) {
        .nav-part-right {
            display: none;
        }

        .nav-part-left {
            width: 100%;

            li {
                flex-grow: 1;
            }

        }
    }
}