*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "font1";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../fonts/Merriweather-Light.ttf);
}
body {
  background: url(../img/bg.jpg) center fixed no-repeat;
  color: rgb(31, 31, 31);
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header {
  height: 100vh;
  max-width: 900px;
  margin: auto;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  opacity: 0;
  transform: translateY(40px);
  animation: headerAnim 1.5s forwards;
}
@keyframes headerAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  width: 400px;
  font-family: "font1", sans-serif;
  font-weight: bold;
}
header p {
  font-style: italic;
}
header .flecheBas {
  border: solid 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: scale(170%);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .flecheBas:hover {
  transform: scale(200%);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}
header .flecheBas:not(:hover) {
  transition: transform 330ms ease-in-out;
}
@media screen and (max-width: 700px) {
  header {
    width: 100%;
    margin: auto;
  }
  header h1 {
    width: max-content;
    font-size: 10vw;
  }
  header .flecheBas {
    margin-top: 50px;
    transform: scale(300%);
  }
  header .flecheBas:hover {
    transform: scale(330%);
  }
}

nav {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav .nav-part-left {
  display: flex;
  height: 100%;
  font-family: "font1", sans-serif;
  font-weight: bold;
}
nav .nav-part-left:hover li:not(:hover) {
  background-color: rgba(255, 255, 255, 0.247);
  color: #fff;
}
nav .nav-part-left li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.247);
  text-transform: uppercase;
  font-size: x-small;
}
nav .nav-part-left li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}
nav .nav-part-left li:nth-child(1) {
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}
nav .nav-part-right {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
nav .nav-part-right i:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 700px) {
  nav .nav-part-right {
    display: none;
  }
  nav .nav-part-left {
    width: 100%;
  }
  nav .nav-part-left li {
    flex-grow: 1;
  }
}

main {
  max-width: 900px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 700px) {
  main {
    width: 100%;
    margin: auto;
  }
}

button {
  border: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: "font1", sans-serif;
  border: 2px solid black;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.section1 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(212, 211, 211);
}
.section1 .date {
  text-transform: capitalize;
  font-family: "font2", sans-serif;
  font-style: italic;
  position: relative;
}
.section1 .date::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 150%;
  background-color: rgb(212, 211, 211);
  height: 2px;
  width: 250px;
}
.section1 .date::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 150%;
  background-color: rgb(212, 211, 211);
  height: 2px;
  width: 250px;
}
.section1 h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 2.5rem;
  width: 500px;
}
.section1 p {
  width: 450px;
  font-family: "font2", sans-serif;
  font-style: italic;
  line-height: 30px;
}
.section1 .image {
  background: url(../img/pic01.jpg) center/cover;
  width: 600px;
  height: 400px;
}
@media screen and (max-width: 700px) {
  .section1 {
    padding: 40px 0px 40px;
  }
  .section1 .date {
    margin-bottom: 50px;
  }
  .section1 .date::before {
    width: 70%;
    right: 120%;
  }
  .section1 .date::after {
    width: 70%;
    left: 120%;
  }
  .section1 h2 {
    width: 100%;
  }
  .section1 p {
    width: 100%;
  }
  .section1 .image {
    width: 100%;
    height: 300px;
  }
}

.section2 {
  display: flex;
}
.section2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 40px 5%;
}
.section2 > div .date {
  font-style: italic;
  text-transform: capitalize;
}
.section2 > div h3 {
  text-transform: uppercase;
  font-size: larger;
}
.section2 > div .image {
  width: 100%;
  height: 200px;
}
.section2 > div p {
  text-align: justify;
}
.section2 .left {
  border-right: solid 1px rgb(212, 211, 211);
}
.section2 .left .image {
  background: url(../img/pic03.jpg) center/cover;
}
.section2 .right {
  border-left: solid 2px rgb(212, 211, 211);
}
.section2 .right .image {
  background: url(../img/pic02.jpg) center/cover;
}
@media screen and (max-width: 700px) {
  .section2 {
    padding: 40px 0px 40px;
    display: block;
  }
  .section2 .left {
    border: none;
    padding: 40px 0px 40px;
    gap: 40px;
  }
  .section2 .right {
    border: none;
    padding: 40px 0px 40px;
    gap: 40px;
  }
  .section2 p {
    padding: 20px;
  }
  .section2 > div .image {
    width: 100%;
    height: 300px;
  }
}

footer {
  max-width: 900px;
  margin: auto;
  background-color: rgb(230, 230, 230);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  font-family: "font1", sans-serif;
}
@media screen and (max-width: 700px) {
  footer {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
footer > * {
  width: 50%;
  display: flex;
  flex-direction: column;
}
footer form {
  border-right: solid 2px rgb(212, 211, 211);
  gap: 5px;
  padding: 30px;
}
footer form > * {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(212, 211, 211);
  outline-color: rgb(124, 124, 124);
  height: 30px;
}
footer form textarea {
  resize: none;
  height: 100px;
}
footer form label {
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
}
footer form button {
  border-color: rgb(124, 124, 124);
  background-color: rgb(230, 230, 230);
  color: rgb(124, 124, 124);
  width: 180px;
  height: 40px;
  margin-top: 30px;
}
footer .contacts {
  border-left: solid 2px rgb(212, 211, 211);
}
footer .contacts > * {
  padding: 30px;
  display: flex;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgb(212, 211, 211);
}
footer .contacts > *:nth-child(1) {
  border: none;
}
footer .contacts > * > :nth-child(1) {
  width: 30%;
  text-transform: uppercase;
}
footer .contacts > * > :nth-child(2) {
  width: 70%;
  color: rgb(124, 124, 124);
  display: flex;
}
footer .contacts > * > :nth-child(2) .iBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: rgb(31, 31, 31);
  border: 1px solid rgb(212, 211, 211);
  border-radius: 50%;
  margin-right: 10px;
  offset-position: 50%;
}
@media screen and (max-width: 700px) {
  footer {
    display: block;
  }
  footer > * {
    width: 100%;
  }
  footer form {
    border-right: none;
    border-bottom: 3px solid rgb(212, 211, 211);
  }
  footer .contacts {
    border-left: none;
  }
}

/*# sourceMappingURL=index.css.map */
