*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "font1";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../fonts/Merriweather-Light.ttf);
}
header {
  height: 100vh;
  max-width: 900px;
  margin: auto;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  width: 400px;
  font-family: "font1", sans-serif;
  font-weight: bold;
}
header p {
  font-style: italic;
}
header .flecheBas {
  border: solid 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: scale(170%);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .flecheBas:hover {
  transform: scale(200%);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}
header .flecheBas:not(:hover) {
  transition: transform 330ms ease-in-out;
}
@media screen and (max-width: 700px) {
  header {
    width: 90%;
    margin: auto;
  }
}

nav {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav .nav-part-left {
  display: flex;
  height: 100%;
  font-family: "font1", sans-serif;
  font-weight: bold;
}
nav .nav-part-left li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.247);
  text-transform: uppercase;
  font-size: x-small;
}
nav .nav-part-left li:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}
nav .nav-part-left li:not(:hover) {
  background-color: rgba(255, 255, 255, 0.247);
  color: #fff;
}
nav .nav-part-left li:nth-child(1) {
  background-color: rgb(255, 255, 255);
  color: #000;
}
nav .nav-part-right {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
nav .nav-part-right i:hover {
  transform: scale(1.5);
}

main {
  max-width: 900px;
  margin: auto;
  height: 1000px;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 700px) {
  main {
    width: 90%;
    margin: auto;
  }
}

button {
  border: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: "font1", sans-serif;
  border: 2px solid black;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.section1 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(197, 197, 197);
}
.section1 .date {
  text-transform: capitalize;
  font-family: "font2", sans-serif;
  font-style: italic;
  position: relative;
}
.section1 .date::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 150%;
  background-color: rgb(197, 197, 197);
  height: 2px;
  width: 250px;
}
.section1 .date::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 150%;
  background-color: rgb(197, 197, 197);
  height: 2px;
  width: 250px;
}
.section1 h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 2.5rem;
  width: 500px;
}
.section1 p {
  width: 450px;
  font-family: "font2", sans-serif;
  font-style: italic;
  line-height: 30px;
}
.section1 .image {
  background: url(../img/pic01.jpg) center/cover;
  width: 600px;
  height: 400px;
}

footer {
  max-width: 900px;
  margin: auto;
  height: 500px;
  background-color: rgb(197, 197, 197);
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) {
  footer {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

body {
  background: url(../img/bg.jpg) center fixed;
}/*# sourceMappingURL=index.css.map */